BACKEND_PORT=5510
PORT=5510

# Configuración PostgreSQL
PGHOST=127.0.0.1
PGPORT=5432
PGUSER=postgres
PGPASSWORD=tu_password
PGDATABASE=tu_bd

# Configuración SSL / Certificados para SAP Service Layer (opcional)
NODE_TLS_REJECT_UNAUTHORIZED=0
